# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/.env
/lib/firebase_options.dart
/ios/.envfile
/ios/Flutter/tmp.xcconfig
/ios/Runner/Firebase/Prod/GoogleService-Info.plist
/ios/Runner/Firebase/Dev/GoogleService-Info.plist
/ios/Runner/Firebase/
/android/app/properties
/android/app/properties/
/android/app/google-services.json
/android/app/src/release/google-services.json
/android/app/src/debug/google-services.json
/ios/firebase_app_id_file.json

/android/google-services.json
/android/properties/keystore.properties
/android/properties/local.properties
/android/properties/version.properties
/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/ios/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.mocks.dart
*.g.dart
/android/app/local.properties
/coverage/lcov.info
devtools_options.yaml

# FVM Version Cache
.fvm/